* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(360deg, #fff, #4c9f70);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Splash Screen for Landing Page */
.splash {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  font-size: 1rem;
  background-color: #fff;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  position: relative;
  font-family: 'Optician Sans', sans-serif;
  bottom: -20px;
  opacity: 0;
}

.logo{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}


/* Main Landing Page */
#title {
  font-size: 40px;
  text-align: center;
  font-family: 'Optician Sans', sans-serif;
  margin-bottom: 1rem;
}

#accessUIDiv {
  font-size: 30px;
  width: 85%;
  height: 604px;
  /*height: calc(85% - 96px);*/
  padding: 25px;
  background: rgb(231, 232, 243);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.addContact {
  flex-shrink: 0;
  border: none;
  background: black;
  border-radius: 0.7rem;
  padding: 0.85rem 1.2rem;
  font-size: 16px;
  font-weight: Regular;
  font-family: 'Optician Sans', sans-serif;
  color: #eeeeee;
  border: 1px solid black;
  transition: all;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-duration: 0.15s;
}

.addContact:hover {
  background: transparent;
  color: black;
  cursor: pointer;
}
.logout {
  flex-shrink: 0;
  border: none;
  background: red;
  border-radius: 0.7rem;
  padding: 0.85rem 1.2rem;
  font-size: 16px;
  font-weight: Regular;
  font-family: 'Optician Sans', sans-serif;
  color: white;
  border: 1px solid black;
  transition: all;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-duration: 0.15s;
  text-decoration: underline;
}

.logout:hover {
  background: transparent;
  color: black;
  cursor: pointer;
}

/*
input[type = search] {
    border: 1px solid rgb(232, 211, 167);
    font-size: 32px;
    font-family: Ubuntu, sans-serif;
    text-align: center;
    color: black;
    background: white;
    border-radius: 20px;
}
*/

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.searchBar {
  flex: 1 1 0px;
  border: 0.5px solid black;
  height: 1.6em;
  background-color: white;
  text-align: center;
  border-radius: 0.7rem;
  font-size: 32px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: Regular;
  min-width: 0;
  height: 100%;
}

.column {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  place-items: center;
}

#contacts {
  margin-top: 1.5rem;
  text-align: center;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #5c7bbe;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
}

tr:nth-child(odd) {
  background-color: #8ea4d2;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
}

tr:first-child {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
}

tr:nth-child:hover {
  background: transparent;
  background-color: #23395d;
  cursor: pointer
}

/*
@media screen and (max-width: 1000px) {
    #contacts {
        font-size: 20px;
    }
}
*/

.hidden {
  visibility: hidden;
}

#container {
  overflow-y: scroll;
  width: 100%;
}
